<div class="main-container" [@routerTransition]> 
  <div class="middle-container">
    <div class="page-heading">
      <img src="assets/img/leads_icon.svg" class="h-icon">
      <div class="heading-text">
        <h2>Discount</h2>
        <p>Add New Discount Master</p>
      </div>
    </div>
  </div>
  
  <div class="container-outer">
    <app-master-tab></app-master-tab>
    <div class="container tab-container" >
      <div class="row">
        <div class="col s12">
          <div class="sprate-box pb0">
            <div class="cs-heading">
              <h2>USER TYPE</h2>
              <span class="required">Indicates required fields ( <sup>*</sup> )</span>
            </div>
            <mat-divider class="left-right-15 mt10"></mat-divider>
            
            <div class="row">
              <div class="col s12 pr0 pl0">
                <div class="user-type">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" color="accent">CATEGORY</mat-checkbox>
                    <mat-checkbox class="example-margin" color="accent">BRAND</mat-checkbox>
                    <mat-checkbox class="example-margin" color="accent">FLAT DISCOUNT</mat-checkbox>
                  </section>
                </div>
              </div>
            </div>
            
            
            <div class="row mb0">
              <div class="col s12 padding0">
                <div class="cs-table left-right-20">
                  <div class="table-head">
                    <table>
                      <tr>
                        <th>Category
                          <div class="th-search">
                            <input type="text" placeholder="Search...." class="w300">
                            <i class="material-icons search-icon">search</i>
                          </div>
                        </th>
                        <th class="w150">Distributor (%)</th>
                        <th class="w150">Retailer (%)</th>
                      </tr>
                    </table>
                  </div>
                  
                  <div class="table-container pb0">
                    <div class="table-content none-shadow">
                      <table>
                        <tr>
                          <td>Example XYZ</td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Example XYZ</td>
                          <td >
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Example XYZ</td>
                          <td >
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Example XYZ</td>
                          <td >
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Example XYZ</td>
                          <td >
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Example XYZ</td>
                          <td >
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                          <td class="w150">
                            <div class="td-input">
                              <input type="text">
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    
                    <table class="discount-table">
                      <tr>
                        <td>&nbsp;</td>
                        <td class="w150"><input type="text" placeholder="Discount"></td>
                        <td class="w150"><input type="text" placeholder="Discount"></td>
                      </tr>
                    </table>      
                  </div>
                  
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="cs-btn fixedd mt32 text-right">
            <div class="in-btn">
              <button mat-raised-button color="accent">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h50"></div>