<form #f="ngForm" (ngSubmit)="f.valid && submitproduct()">
    <div class="edit-modal">
        <p class="heading">Update </p>
        <div mat-dialog-content>
            
            <div class="from-fields">
                <div class="row"  >
                    <div class="col s12">
                        <div *ngIf="data.product_type=='description'" class="mt15 mb15">
                            <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" name="product_val" class="trix-editor" [(ngModel)]="data.product_val"></app-ngx-editor>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <!-- <mat-form-field class="example-full-width cs-field">
                <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" name="description" class="trix-editor" [(ngModel)]="product.description"></app-ngx-editor>
            </mat-form-field> -->
            
        </div>
        
        <div mat-dialog-actions>
            <!-- <button mat-button (click)="onNoClick()">Cancel</button> -->
            <button mat-raised-button color="accent" >Update</button>
        </div>
    </div>
</form>