<div class="main-container">
    <div *ngIf="loader" class="loader">
        <div class="outer">
            <div class="innear">
                <mat-spinner class="loader"></mat-spinner>
            </div>
        </div>
    </div>
    <div class="middle-container padding0">
        <div class="master-heading">
            <div class="tabs">
                <ul>
                    <li><a class="pr40" [ngClass]="{'active' : packing_pend }" (click)="classactive('packing_pend');get_assign_order()">Packing Pending<span class="counter">{{pack_pend_cn}}</span></a></li>
                    <li><a class="pr40" [ngClass]="{'active' : dispatch_pend }" (click)="classactive('dispatch_pend');get_assign_order()">Dispatch Pending<span class="counter">{{disp_pend_cn}}</span></a></li>
                    <li><a class="pr40" [ngClass]="{'active' : dispatch }" (click)="classactive('dispatch');get_assign_order()">Dispatch<span class="counter">{{dispatch_cn}}</span></a></li>
                </ul>
            </div>
            <div class="top-pagination">
                <ul>
                    <li class="refresh-area">
                        <a class="refresh-btn" (click)="refresh()" mat-raised-button  matTooltip="Refresh"><i class="material-icons"> refresh</i></a>
                    </li>
                    <li><p>Pages {{pagenumber}} Of {{totalpage}}</p></li>
                    
                    <li *ngIf="totalpage > 1">
                        <button mat-button class="left-btn" [disabled]="pagenumber == 1" (click)="get_assign_order(pagelimit,start-pagelimit)">
                            <i class="material-icons" >keyboard_arrow_left</i>
                        </button>
                    </li>
                    
                    <li *ngIf="totalpage > 1">
                        <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="checkpage();get_assign_order(pagelimit,((pagenumber*pagelimit)-pagelimit))" [(ngModel)]="pagenumber">
                    </li>
                    
                    <li *ngIf="totalpage > 1">
                        <button mat-button class="right-btn"  ng-disabled="true" [disabled]="pagenumber == totalpage" (click)="get_assign_order(pagelimit,(start+pagelimit))">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container-outer pt0">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="cs-table left-right-20">
                        <div class="table-head">
                            <table>
                                <tr>
                                    <th class="w120">Date</th>
                                    <th class="w150">Assigned By</th>
                                    <th class="w100 text-center">Order ID</th>
                                    <th class="w200">Customer / Mobile No</th>
                                    <th>Address Detail</th>
                                    <th class="w90 text-center" *ngIf="page_type != 'packing_pend'">Invoice Status</th>
                                    <th class="w90 text-center" *ngIf="page_type == 'packing_pend'">Total Item</th>
                                    <th class="w90 text-center" *ngIf="page_type != 'packing_pend'">Packed Item</th>
                                    <th class="w80">View</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-head bdrt">
                            <table>
                                <tr>
                                    <th class="w120">&nbsp;</th>
                                    <th class="w150">&nbsp;</th>
                                    <th class="w100 text-center">&nbsp;</th>
                                    <th class="w200">
                                        <div class="th-search-acmt">
                                            <mat-form-field>
                                                <input type="text" placeholder="Search..." matInput name="search_val" (input)="get_assign_order()" [(ngModel)]="search.search_val">
                                            </mat-form-field>
                                        </div>
                                    </th>
                                    <td></td>
                                    <td class="w90 text-center" *ngIf="page_type != 'packing_pend'">&nbsp;</td>
                                    <th class="w90 text-center" *ngIf="page_type == 'packing_pend'">&nbsp;</th>
                                    <th class="w90 text-center" *ngIf="page_type != 'packing_pend'">&nbsp;</th>
                                    <th class="w80">&nbsp;</th>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="table-container" *ngIf="order_list.length > 0">
                            <div class="table-content">
                                <table>
                                    <tr *ngFor="let row of order_list;let i=index">
                                        <td class="w120">{{row.date_created | date:'d MMM ,y'}}</td>
                                        <td class="w150">Admin</td>
                                        <td class="w100 text-center"><a class="link-btn" routerLink="/order-dispatch-detail/{{row.ecrpt_id}}/{{page_type}}" routerLinkActive="active" mat-button>#ORD{{row.order_id}}</a></td>
                                        <td class="w200">{{row.name | titlecase}} / {{row.mobile_1}}</td>
                                        <td>{{row.address | titlecase}},{{row.city | titlecase}},{{row.district | titlecase}},{{row.state | titlecase}},{{row.pincode}}</td>
                                        <td class="w90 text-center" *ngIf="page_type != 'packing_pend'">{{row.invoice_no == 0 ? 'Pending' : 'Generated'}}</td>
                                        <td class="w90 text-center" *ngIf="page_type == 'packing_pend'">{{row.packing_count}}</td>
                                        <td class="w90 text-center" *ngIf="page_type != 'packing_pend'">{{row.packed_item}}</td>
                                        <td class="w80">
                                            <a class="link-btn" routerLink="/order-dispatch-detail/{{row.ecrpt_id}}/{{page_type}}" routerLinkActive="active" mat-button><i class="material-icons">remove_red_eye</i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div> 
                        <div class="data-not-found" *ngIf="order_list.length == 0">
                            <img src="assets/img/no-record-found.png" alt="">
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>