<div class="main-container" [@routerTransition]>
  <div class="middle-container">
    <div class="page-heading">
      <img src="assets/img/leads_icon.svg" class="h-icon">
      <div class="heading-text pr20">
        <h2>Leaves & Holidays</h2>
        <p>Add New Leave Rule & Holiday</p>
      </div>
    </div>
    <div class="tabs">
      <ul>
        <li><a routerLink="/leave-rule-list" routerLinkActive="active">LEAVES RULES</a></li>
        <li><a routerLink="/holiday-list" routerLinkActive="active">HOLIDAYS</a></li>
      </ul>
    </div>
  </div>
  
  
  <div class="container-outer">
    <app-master-tab-list></app-master-tab-list>
    <div class="container tab-container" >
      <div class="row">
        <div class="col s12">
          <div class="list-thumbnail">
            <div class="cs-list">
              <div class="list-heading">
                <h2>Casual Leave</h2>
                <div class="left-icon-menu">
                  <ul>
                    <li><span class="counter-digit">2</span></li>
                    <li>
                      <div class="edit-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"> 
                          <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <span class="red-clr">Delete</span>
                          </button>
                          <!-- <button mat-menu-item disabled>
                            <span>Check voicemail</span>
                          </button>
                          <button mat-menu-item>
                            <span>Disable alerts</span>
                          </button> -->
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              <div class="text-box-outer">
                <div class="text-box-inner">
                  <p><strong>Discription :</strong> The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible. Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch varying between three to five to seven days. As a rule, official holidays are not counted when calculating the number of casual leaves if they fall during the period of casual leave</p>
                </div>
              </div>
            </div>
            <div class="cs-list">
              <div class="list-heading">
                <h2>Casual Leave</h2>
                <div class="left-icon-menu">
                  <ul>
                    <li><span class="counter-digit">2</span></li>
                    <li>
                      <div class="edit-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"> 
                          <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <span class="red-clr">Delete</span>
                          </button>
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              <div class="text-box-outer">
                <div class="text-box-inner">
                  <p><strong>Discription :</strong> The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible. Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch </p>
                </div>
              </div>
            </div>
            <div class="cs-list">
              <div class="list-heading">
                <h2>Casual Leave</h2>
                <div class="left-icon-menu">
                  <ul>
                    <li><span class="counter-digit">2</span></li>
                    <li>
                      <div class="edit-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"> 
                          <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <span class="red-clr">Delete</span>
                          </button>
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              <div class="text-box-outer">
                <div class="text-box-inner">
                  <p><strong>Discription :</strong> The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible. Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch </p>
                </div>
              </div>
            </div>
            <div class="cs-list">
              <div class="list-heading">
                <h2>Casual Leave</h2>
                <div class="left-icon-menu">
                  <ul>
                    <li><span class="counter-digit">2</span></li>
                    <li>
                      <div class="edit-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"> 
                          <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <span class="red-clr">Delete</span>
                          </button>
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              <div class="text-box-outer">
                <div class="text-box-inner">
                  <p><strong>Discription :</strong> The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible.Across industries and organizations, there are different rules for the number of days that  Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch </p>
                </div>
              </div>
            </div>
            <div class="cs-list">
              <div class="list-heading">
                <h2>Casual Leave</h2>
                <div class="left-icon-menu">
                  <ul>
                    <li><span class="counter-digit">2</span></li>
                    <li>
                      <div class="edit-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"> 
                          <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <span class="red-clr">Delete</span>
                          </button>
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              <div class="text-box-outer">
                <div class="text-box-inner">
                  <p><strong>Discription :</strong> The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible. Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch.
                    Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch </p>
                  </div>
                </div>
              </div>
              <div class="cs-list">
                <div class="list-heading">
                  <h2>Casual Leave</h2>
                  <div class="left-icon-menu">
                    <ul>
                      <li><span class="counter-digit">2</span></li>
                      <li>
                        <div class="edit-menu">
                          <button mat-icon-button [matMenuTriggerFor]="menu"> 
                            <i class="material-icons">more_vert</i>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <span class="red-clr">Delete</span>
                            </button>
                          </mat-menu>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="text-box-outer">
                  <div class="text-box-inner">
                    <p><strong>Discription :</strong> The type of leave that is granted for short durations and can ordinarily be taken with prior information.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="h50"></div>