<!-- <div class="master-tab" >
    <ul>
      <li routerLink="/product-list" routerLinkActive="active"><a>Products</a></li>
      <li routerLink="/sale-user-list" routerLinkActive="active"><a>Users</a></li>
      <li routerLink="/manufacture-list" routerLinkActive="active"><a>Vendor</a></li>
      <li routerLink="/warehouse-list" routerLinkActive="active"><a>Warehouse</a></li>
      <li routerLink="/pop_and_gift" routerLinkActive="active"><a>POP & Gift</a></li>
      <li routerLink="/leave-rule-list" routerLinkActive="active"><a>Leaves & Holidays</a></li>
      <li routerLink="/annoucement-list" routerLinkActive="active"><a>Announcement</a></li>
    </ul>
  </div> -->
  