<div class="master-tab">
  <ul>
    <li routerLink="/add-product" routerLinkActive="active"><a>Products</a></li>
    <li routerLink="/user-add" routerLinkActive="active"><a>Users</a></li>
    <li routerLink="/add-manufacture" routerLinkActive="active"><a>Vendor</a></li>
    <li routerLink="/add-warehouse" routerLinkActive="active"><a>Warehouse</a></li>
    <!-- <li routerLink="/add-brand" routerLinkActive="active"><a>Brand</a></li> -->
    <!-- <li routerLink="/add-leave-rules" routerLinkActive="active"><a>Leaves & Holidays</a></li> -->
    <!-- <li routerLink="/add-annoucement" routerLinkActive="active"><a>Announcement</a></li> -->
  </ul>
</div>
